
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #b783b3;
    animation: glowing 1.5s infinite alternate; 
}
.welcome{
	position: absolute;
    top: 60px; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: bold;
    color: #800080; 
    text-shadow: 0 0 10px #ff7300, 0 0 20px #ff7300;
}

.container {
    margin-top: 20px; 
    padding: 20px;
    border: 5px solid #800080;
    background-color: #e6ccff;
    border-radius: 15px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 60%;
    text-align: center;
    box-shadow: 0 0 10px 5px #800080, 0 0 20px 10px #800080, 0 0 30px 15px #800080;
    animation: glowing 1.5s infinite alternate;
}
	


input {
	margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    width: 200px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #45a049;
}

p {
	font-weight: bold;
    margin-top: 20px;
    font-size: 25px;
    color: #333;
}
.click {
	
    margin-top: 80px; 
    text-align: center;
    border: 5px solid #800080;
    background-color: #e6ccff;
    border-radius: 15px;
    display: flex;
	flex-direction: column;
    padding: 10px;
    width: auto;
    height: auto;
    box-shadow: 0 0 10px 5px #800080, 0 0 20px 10px #800080, 0 0 30px 15px #800080;
    animation: glowing 1.5s infinite alternate;
}
a{
	text-decoration: none;
}
@keyframes glowing {
    0% {
        box-shadow: 0 0 10px #800080, 0 0 20px #800080, 0 0 30px #800080;
    }
    50% {
        box-shadow: 0 0 20px #ff7300, 0 0 30px #ff7300, 0 0 40px #ff7300;
    }
    100% {
        box-shadow: 0 0 10px #800080, 0 0 20px #800080, 0 0 30px #800080;
    }
}
@media (max-width: 350px) {
    .welcome {
        font-size: 18px;  
        top: 20px;  

    .container {
        width: 90%;  
        padding: 10px;
    }

    input {
        width: 100%;  
        padding: 12px;
        font-size: 16px;
        text-align: right; 
    }

    button {
        width: 100%;  
        padding: 12px;
        font-size: 16px;
    }

    p {
        font-size: 18px;  
        text-align: right; 
    }

    .click {
        margin-top: 60px;  
        padding: 10px;
        width: 100%;  }
    }
}
@media (min-width: 350px) and (max-width: 714px) {
	h1{
		font-size: 25px; 
	}
}
/* css for page 2*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}
  
  .container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw; 
	height: 100vh; 
	position: relative;
  }
  .background-image {
	position: absolute;
	top:0;
    width: 100%;
	height: 100%;

  }
  .button-container {
	position: absolute;
	bottom: 20%;
	width: 100%;
	text-align: center;
  }
  
  .btn {
	padding: 50px 50px;
	margin: 10px;
	font-size: 18px;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  .easy, .medium, .hard {
	background-color: rgb(234, 124, 69);
  }
  /* Animation for button click */
button:active {
	transform: translateY(15px); /* Push the button down when user clicked */
  }
  
  /* Shake animation for the button when  user clicked (vertical movement) */
  @keyframes shake {
	25% { transform: translateY(-15px); }  /* Move up */
	50% { transform: translateY(0); }      /* Back to the initial position */
	75% { transform: translateY(10px); }   /* Move down */
	100% { transform: translateY(0); }     /* Back to original position */
  }
  
  /* Applying shake animation to the clicked button */
  .btn.shake {
	animation: shake 0.5s ease-in-out;
  }
  #message {
	position: absolute;
	bottom: 10%;
	width: 100%;
	text-align: center;
	font-size: 70px;
	font-weight: bold;
	text-shadow: 3px 3px 5px rgb(221, 210, 210);
  }
  /* Responsiv mellan 350 and 700 */
@media (min-width: 350px) and (max-width: 700px) {
	.btn {
	  font-size: 16px;
	  padding: 15px 25px;
	}
  
	#message {
	  font-size: 30px;
	}
  
	.button-container {
	  bottom: 20%;
	}
  }
  
  